body {
    margin: 0;
    padding: 0;
}

.wrap {
    background: var(--Background, #2b2b2b);
    max-width: 100%;
    height: 10000px;
}

.container {
    max-width: 1050px;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px 0 20px;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 20px 0;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-nav-link {
    color: #fff;
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    text-decoration: none;
}

.header-btn {
    color: #fff;
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    border-radius: 20px;
    background: var(--Call-to-Action, #a259ff);
    display: flex;
    height: 60px;
    padding: 0px 30px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border: none;
}

.hero__content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-title {
    color: var(--White, #fff);
    font-family: Work Sans;
    font-size: 67px;
    font-weight: 600;
    text-transform: capitalize;
    max-width: 510px;
}

.hero-text {
    color: var(--White, #fff);
    font-family: Work Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-transform: capitalize;
    max-width: 510px;
}

.hero-btn {
    color: #fff;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 600;
    height: 60px;
    padding: 0px 50px;
    gap: 12px;
    border-radius: 20px;
    background: var(--Call-to-Action, #a259ff);
    margin: 30px 0 30px 0;
    border: none;
}

.hero-indicator {
    display: flex;
    gap: 80px;
}

.hero-total-title {
    color: var(--White, #fff);
    font-family: Space Mono;
    font-size: 28px;
    font-weight: 700;
    line-height: 140%;
    text-transform: capitalize;
    margin: 0;
}

.hero-total-text {
    color: var(--White, #fff);
    font-family: Work Sans;
    font-size: 23.99px;
    font-weight: 400;
    line-height: 160%;
    text-transform: capitalize;
    margin: 0;
}

.hero-block2 {
    border-radius: 20px 20px 20px 20px;
    background: var(--Background---Secondary, #3b3b3b);
    max-width: 510px;
}

.hero-img2 img {
    width: 100%;
    height: 100%;
}

.hero-subtext {
    color: #fff;
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 600;
    line-height: 140%;
    text-transform: capitalize;
    padding: 0 0 0 20px;
}

.hero-subtext {
    padding: 0 0 0 20px;
}

.hero-Space-Walking {
    display: flex;
    gap: 12px;
    margin: 0 0 0 20px;
}

.hero-img-text {
    color: #fff;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
}

.collection {
    margin: 160px 0 0 0;
}

.collection-title {
    color: var(--White, #fff);
    font-family: Work Sans;
    font-size: 38px;
    font-weight: 600;
    margin: 0;
}

.collection-text {
    color: var(--White, #fff);
    font-family: Work Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    margin: 0 0 60px 0;
}

.collection-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.collection-block-img1 img {
    max-width: 330px;
}

.collection-img1 img {
    width: 100%;
    height: 100%;
}

.collection-block-img2 img {
    max-width: 330px;
}

.collection-img2 img {
    width: 100%;
    height: 100%;
}

.collection-img1 {
    display: flex;
    gap: 15px;
}

.collection-img3 {
    padding: 41px 17px;
    border-radius: 20px;
    background: var(--Call-to-Action, #a259ff);
}

.collection-img4 {
    margin: 15px 0 10px 0;
}

.collection-footer-img {
    display: flex;
    align-items: center;
    gap: 12px;
}

.collection-footer-text {
    color: #fff;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.creators {
    margin: 160px 0 0 0;
}

.creators-start-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.creators-title {
    color: var(--White, #fff);
    font-family: Work Sans;
    font-size: 38px;
    font-weight: 600;
    margin: 0;
}

.creators-text {
    color: var(--White, #fff);
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 400;
    margin: 10px 0 60px 0;
}

.creators-btn {
    color: #fff;
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 600;
    height: 60px;
    padding: 0px 50px;
    border-radius: 20px;
    border: 2px solid var(--Call-to-Action, #a259ff);
    background: #2b2b2b;
}

.creators-grid-block1 {
    max-width: 240px;
    height: 238px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #3b3b3b;
}

.creators-grid-block2 {
    max-width: 240px;
    height: 238px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #3b3b3b;
}

.creators-grid-block3 {
    max-width: 240px;
    height: 238px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #3b3b3b;
}

.creators-avatar1 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px 0 0 0;
}

.creators-grid-title {
    color: #fff;
    text-align: center;
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 600;
    line-height: 140%;
    text-transform: capitalize;
    margin: 20px 0 0 0;
}

.creators-grid-text {
    color: var(--caption-label-text, #858584);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
}

.creators-grid-text span {
    color: var(--Text, #fff);

    /* Base (Body) - Space Mono */
    font-family: Space Mono;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
}

/* .creators-namber1 {
    text-align: center;
} */

.creators-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}

@media screen and (max-width: 1070px) {
    .collection-block-img2 {
        display: none;
    }
}

@media screen and (max-width: 850px) {
    .hero-title {
        font-size: 38px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        text-transform: capitalize;
        max-width: 330px;
    }
    .hero-text {
        font-size: 16px;
    }

    .hero-total-title {
        font-family: Space Mono;
        font-size: 22px;
        font-weight: 700;
        line-height: 160%;
    }

    .hero-total-text {
        color: var(--White, #fff);
        font-family: Work Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 140%;
    }

    .header-nav-link {
        display: none;
    }
}

@media screen and (max-width: 850px) {
    .hero-title {
        font-size: 30px;
    }
    .hero__content {
        display: flex;
        flex-direction: column;
    }
    .collection-title {
        font-size: 28px;
    }
    .collection-text {
        font-size: 16px;
    }
    .creators-grid-block3 {
        display: none;
    }
    .creators-grid-block1 {
        display: flex;
        /* align-items: center; */
        max-width: 690px;
        width: 330px;
        height: 100px;
    }

    .creators-grid-block2 {
        display: flex;
        /* align-items: center; */
        max-width: 330px;
        height: 100px;
    }
    .creators-avatar2 {
        max-width: 60px;
        height: 60px;
    }
    .creators-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 715px) {
    .creators-grid-block2 {
        display: none;
    }
    .creators-grid {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

@media screen and (max-width: 700px) {
    .collection-block-img5 {
        display: none;
    }
}

@media screen and (max-width: 435px) {
    .header-btn {
        display: none;
    }
    .creators__content button {
        display: flex;
        align-items: flex-end;
    }
}

@media screen and (max-width: 400px) {
    .hero-title {
        font-family: Work Sans;
        font-size: 28px;
        font-weight: 600;
        line-height: 140%;
        text-transform: capitalize;
        margin: 10px 0 0 0;
    }

    .hero-text {
        font-size: 16px;
        line-height: 140%;
    }

    .hero-indicator .hero-block2 {
        display: flex;
        flex-direction: row-reverse;
    }

    .header-btn {
        display: none;
    }
}
